<script src="{{asset('js/Profiles/jquery.min.js')}}"></script>
<script src="{{asset('js/Validation/formValidation.min.js')}}"></script>
<!-- this bootstrap file is related to form validation-->
<script src="{{asset('js/Validation/bootstrap.min.js')}}"></script>


<h3 class="text-center">Exam Configuration</h3>

<div class="container">
    <div class="col-md-9 col-sm-9 col-xs-12">
        <div class="" role="tabpanel" data-example-id="togglable-tabs">
            <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
                <li role="presentation" class="active"><a href="#tab_content1" id="home-tab" role="tab" data-toggle="tab" aria-expanded="true">Create Exam</a>
                </li>
                <li role="presentation" class=""><a href="#tab_content2" role="tab" id="profile-tab" data-toggle="tab" aria-expanded="false">Exam Settings</a>
                </li>               

            </ul>
            <div id="myTabContent" class="tab-content">
                <div role="tabpanel" class="tab-pane fade active in" id="tab_content1" aria-labelledby="home-tab">
                    <form id="examCreate" action="{{path('ExamConfiguration')}}" method="POST"  class="form-horizontal form-label-left">
                        {{form_start(form)}}

                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">Enter Exam ID <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">                
                                {{form_widget(form.id,{'attr':{'class':'form-control col-md-7 col-xs-12','placeholder':'Exam ID'}})}}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">Enter Exam Fees <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                {{form_widget(form.fees,{'attr':{'class':'form-control col-md-7 col-xs-12','placeholder':  'Enter Exam Fees'}})}}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">Conducting Day <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                {{form_widget(form.conductDay,{'attr':{'class':'form-control col-md-7 col-xs-12'}})}}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">Conducting Time <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                {{form_widget(form.time,{'attr':{'class':'form-control col-md-7 col-xs-12'}})}}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">Class Teacher <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                {{form_widget(form.teacher_id,{'attr':{'class':'form-control col-md-7 col-xs-12'}})}}
                            </div>
                        </div>

                        <div class="ln_solid"></div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button id="confirm" type="submit" class="btn btn-info pull-right">Create</button>
                            </div>
                        </div>
                        {{form_end(form)}}
                    </form>
                    <div id="screenSaver_classConfig" class="text-center" style="display: none;"><i class="fa fa-2x fa-spin fa-cog"></i></div>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="tab_content2" aria-labelledby="profile-tab">

                    <form id="examUpdate" action="{{path('ExamUpdate')}}" method="POST" class="form-horizontal form-label-left">
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">Exam ID <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                {% if examList == null%}
                                    <h4><strong>No classes stored in the database</strong></h4>
                                {% else %}                                        
                                    <select id="id" name="id" class="form-control col-md-7 col-xs-12">
                                        {% for exam in examList %}
                                            <option value="{{exam.id}}">{{exam.id}}</option>
                                        {% endfor %}
                                    </select>
                                {% endif %}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">Class Fees <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input class="form-control col-md-7 col-xs-12" type="number" name="fees" id="fees" />                                
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">Conducting Day <span class="required">*</span>
                            </label>
                            <div id="conductDayTime" class="col-md-6 col-sm-6 col-xs-12">
                                <!-- add date list dynamically under the jasvascript section -->
                                <!-- template was created and hidden for replace it during the java script -->
                                <select style="display: none" id="conductDay_template"></select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">Conducting Time <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input class="form-control col-md-7 col-xs-12" type="time" name="time" id="time"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">Class Teacher <span class="required">*</span>
                            </label>
                            <div id="teacher_id_div" class="col-md-6 col-sm-6 col-xs-12">
                                <!-- add teacher list dynamically under the jasvascript section -->
                                <!-- template was created and hidden for replace it during the java script -->
                                <select style="display: none" id="teacher_id_template"></select>
                            </div>
                        </div>

                        <div class="ln_solid"></div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button id="confirmUpdate" type="submit" class="btn btn-info pull-right">Update</button>
                            </div>
                        </div>
                    </form>
                    <div id="screenSaver_classConfig_1" class="text-center" style="display: none;"><i class="fa fa-2x fa-spin fa-cog"></i></div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

</script>

<script>
    // components for update classes
    var teacherList = $('#Sasip_Exam_form_teacher_id').clone();
    var dayList = $('#Sasip_Exam_form_conductDay').clone();
    dayList.attr('id', 'conductDay');
    dayList.attr('name', 'conductDay');
    teacherList.attr('id', 'teacher_id');
    teacherList.attr('name', 'teacher_id');
    $('#teacher_id_template').replaceWith(teacherList);
    $('#conductDay_template').replaceWith(dayList);

    $('#id').change(function () {
        var id = $('#id').val();

        $('#examUpdate').css('display', 'none');
        $('#screenSaver_classConfig_1').css('display', 'block');

        $.ajax({
            url: "{{path('ExamUpdate')}}",
            type: 'GET',
            data: {id: id},
            success: function (data) {
                var Exam = JSON.parse(data);

                $('#examUpdate').css('display', 'block');
                $('#screenSaver_classConfig_1').css('display', 'none');

                $('#fees').val(Exam.fees);
                $('#conductDay').val(Exam.conductDay);
                $('#time').val(Exam.time);
                $('#teacher_id').val(Exam.teacherId);

            }
        });

    });

    $('#examCreate').on('submit', function (e) {
        $('#examCreate').css('display', 'none');
        $('#screenSaver_classConfig').css('display', 'block');
        e.preventDefault();
        $.ajax({
            url: $('#examCreate').attr('action'),
            type: 'POST',
            data: $('#examCreate').serialize(),
            success: function (data) {
                $('#examCreate').css('display', 'block');
                $('#screenSaver_classConfig').css('display', 'none');
                alert(data.message);
            }
        });
    });

    $('#examUpdate').on('submit', function (e) {
        e.preventDefault();
        $('#examUpdate').css('display', 'none');
        $('#screenSaver_classConfig_1').css('display', 'block');
        $.ajax({
            url: $('#examUpdate').attr('action'),
            type: 'POST',
            data: $('#examUpdate').serialize(),
            success: function (data) {
                $('#examUpdate').css('display', 'block');
                $('#screenSaver_classConfig_1').css('display', 'none');
                alert(data.message);
            }
        });
    });

</script>

<script>
//form validation
    $(document).ready(function () {
        $('#confirm').attr('disabled', true);
        $('#examCreate').bootstrapValidator({
            message: 'This value is not valid',
            fields: {
                'Sasip_Exam_form[id]': {
                    validators: {
                        notEmpty: {
                            message: 'The field is required and can\'t be empty'
                        }
                    }
                },
                'Sasip_Exam_form[conductDay]': {
                    validators: {
                        notEmpty: {
                            message: 'The field is required and can\'t be empty'
                        }
                    }
                },
                'Sasip_Exam_form[teacher_id]': {
                    validators: {
                        notEmpty: {
                            message: 'The field is required and can\'t be empty'
                        }
                    }
                },
                'Sasip_Exam_form[time]': {
                    validators: {
                        notEmpty: {
                            message: 'The field is required and can\'t be empty'
                        },
                        digits: {
                            message: 'This value is not valid'
                        }
                    }
                },
                'Sasip_Exam_form[fees]': {
                    validators: {
                        notEmpty: {
                            message: 'The field is required and can\'t be empty'
                        },
                        digits: {
                            message: 'This field should contain digits'
                        }
                    }
                }
            }
        });
    });
    //form no-2
    $(document).ready(function () {
        $('#confirmUpdate').attr('disabled', true);
        $('#examUpdate').bootstrapValidator({
            message: 'This value is not valid',
            fields: {
                fees: {
                    validators: {
                        notEmpty: {
                            message: 'The field is required and can\'t be empty'
                        },
                        digits: {
                            message: 'This value is not valid'
                        }
                    }
                },
                conductDay: {
                    validators: {
                        notEmpty: {
                            message: 'The field is required and can\'t be empty'
                        }
                    }
                },
                teacher_id: {
                    validators: {
                        notEmpty: {
                            message: 'The field is required and can\'t be empty'
                        }
                    }
                },
                time: {
                    validators: {
                        notEmpty: {
                            message: 'The field is required and can\'t be empty'
                        },
                        digits: {
                            message: 'This value is not valid'
                        }
                    }
                }
            }
        });
    });

</script>

