<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Home</title>
        <meta charset="utf-8">
        <meta name="format-detection" content="telephone=no" />

        <link rel="icon" href="images/favicon.ico">
        <link rel="shortcut icon" href="images/favicon.ico" />
        <link href="{{asset('css/bootstrap.min.css')}}" rel="stylesheet">
        <link rel="stylesheet" href="{{asset('css/style.css')}}">


        <script>
            $(window).load(function () {
                $().UItoTop({easingType: 'easeOutQuart'});
                $('#stuck_container').tmStickUp({});
            });
        </script>

    </head>
    <body class="page1" id="top">
        <!--==============================
                      header
        =================================-->
        <header>
            <div class="container">
                <div class="row">
                    <div class="grid_12 rel">
                        <h1>
                            <a href="#">
                                <img src="{{asset('images/Front/logo.png')}}" alt="Logo alt">
                            </a>
                        </h1>
                    </div>
                </div>
            </div>
            <section id="stuck_container">
                <!--==============================
                            Stuck menu
                =================================-->
                <div class="container">
                    <div class="row">
                        <div class="grid_12 ">
                            <div class="navigation ">
                                <nav>
                                    <ul class="sf-menu">
                                        <li class="current"><a href="#">Home</a></li>
                                        <li><a href="#">Classes</a></li>
                                        <li><a href="#">Teachers</a></li>                                      
                                        <li><a href="#">About us</a></li>                                      
                                        <li><a href="{{path('fos_user_security_login')}}">login</a></li>
                                    </ul>
                                </nav>
                                <div class="clear"></div>
                            </div>       
                            <div class="clear"></div>  
                        </div>
                    </div> 
                </div> 
            </section>
            <section class="page1_header">
                <div class="container">
                    <div class="row">
                        <div class="grid_4">
                            <a href="#" class="banner"><div class="maxheight">
                                    <div class="fa fa-globe"></div>Sasip</div>
                            </a>
                            <a href="#" class="banner"><div class="maxheight">
                                    <div class="fa fa-users"></div>Teachers</div>
                            </a>
                            <a href="#" class="banner"><div class="maxheight1">
                                    <div class="fa fa-university"></div>Classes</div>
                            </a>
                            <a href="#" class="banner"><div class="maxheight1">
                                    <div class="fa fa-phone"></div>Contact us</div>
                            </a>
                        </div>
                        <div class="grid_5">
                            <h2>Strong <br> Stable <br> Dreams</h2>
                            Your Enthusiasm Is The Key Of Your Success 
                        </div>
                    </div>
                </div>
            </section>
        </header>
        <div class="block-1">
            <div class="container" style="font-size: 13pt;">
                <div class="row">
                    <div class="grid_4">
                        Staff login<br />
                        Classes<br />
                        Teachers
                        <div class="clear"></div>
                    </div>

                    <div class="grid_4" style="border-left: 1px solid white;padding-left: 1em;">                        
                        282/7, High Level Rd.,<br />
                        Nugegoda,<br />
                        Sri Lanka<br />
                        Tel: 09411-2825193
                        <div class="clear"></div>
                    </div>
                    <div class="grid_3">
                        Site map<br />
                        Privacy Policy<br />
                        feedbacks
                        
                        <div class="clear"></div>
                    </div>

                </div>

                <div class="row">
                    <div class="text-center">Copyright <i class="fa fa-copyright"></i> Sasip 2015</div>
                </div>
            </div>
        </div>




        <script src="{{asset('js/jquery.js')}}"></script>
        <script src="{{asset('js/jquery-migrate-1.1.1.js')}}"></script>
        <script src="{{asset('js/jquery.easing.1.3.js')}}"></script>
        <script src="{{asset('js/script.js')}}"></script> 
        <script src="{{asset('js/superfish.js')}}"></script>
        <script src="{{asset('js/jquery.equalheights.js')}}"></script>
        <script src="{{asset('js/jquery.mobilemenu.js')}}"></script>
        <script src="{{asset('js/tmStickUp.js')}}"></script>
        <script src="{{asset('js/jquery.ui.totop.js')}}"></script>

    </body>
</html>