<style>
    .btn-file {
        position: relative;
        overflow: hidden;
    }
    .btn-file input[type=file] {
        position: absolute;
        top: 0;
        right: 0;
        min-width: 100%;
        min-height: 100%;
        font-size: 100px;
        text-align: right;
        filter: alpha(opacity=0);
        opacity: 0;
        outline: none;
        background: white;
        cursor: inherit;
        display: block;
    }
</style>

<script src="{{asset('js/Profiles/jquery.min.js')}}"></script>
<script src="{{asset('js/Validation/formValidation.min.js')}}"></script>
<!-- this bootstrap file is related to form validation-->
<script src="{{asset('js/Validation/bootstrap.min.js')}}"></script>
<!-- importsfor build form -->
<script src="{{asset('js/Profiles/nicescroll/jquery.nicescroll.min.js')}}"></script>
<script type="text/javascript" src="{{asset('js/Profiles/wizard/jquery.smartWizard.js')}}"></script>

<div id="wizard" class="form_wizard wizard_horizontal">
    <ul class="wizard_steps">
        <li>
            <a href="#step-1">
                <span class="step_no">1</span>
                <span class="step_descr">
                    Step 1<br />
                    <small>Personal</small>
                </span>
            </a>
        </li>
        <li>
            <a href="#step-2">
                <span class="step_no">2</span>
                <span class="step_descr">
                    Step 2<br />
                    <small>Education </small>
                </span>
            </a>
        </li>
        <li>
            <a href="#step-3">
                <span class="step_no">3</span>
                <span class="step_descr">
                    Step 3<br />
                    <small>Profile Image</small>
                </span>
            </a>
        </li>
        <li>
            <a href="#step-4">
                <span class="step_no">4</span>
                <span class="step_descr">
                    Step 4<br />
                    <small>Portfolio</small>
                </span>
            </a>
        </li>
    </ul>

    <form  id="editForm" action="{{path('studentFormUpdate')}}"  method="POST" {{ form_enctype(form) }} class="form-horizontal form-label-left"> 
        <div id="step-1">

            <div class="form-group">
                {{form_start(form)}}
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">First Name <span class="required">*</span>
                </label>

                <div class="col-md-6 col-sm-6 col-xs-12">
                    {{form_widget(form.first_name,{'attr':{'class':'form-control col-md-7 col-xs-12','data-validate':'required'}})}}
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">Last Name <span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    {{form_widget(form.last_name,{'attr':{'class':'form-control col-md-7 col-xs-12','data-validate':'required'}})}}
                </div>
            </div>            
            <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">Gender</label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div id="gender" class="btn-group">
                        {{form_widget(form.gender,{'attr':{'class':'form-control col-md-7 col-xs-12'}})}}
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="dateOfBirth" class="control-label col-md-3 col-sm-3 col-xs-12">Date Of Birth <span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    {{form_widget(form.date_of_birth,{'attr':{'class':'form-control col-md-7 col-xs-12','data-validate':'required'}})}}
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="address">Address <span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    {{form_widget(form.address,{'attr':{'class':'form-control col-md-7 col-xs-12','data-validate':'required'}})}}

                </div>
            </div>
            <div class="form-group">
                <label for="mobile" class="control-label col-md-3 col-sm-3 col-xs-12">Mobile <span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">

                    {{form_widget(form.mobile.contact_number,{'attr':{'class':'form-control col-md-7 col-xs-12','data-validate':'required,number'}})}}
                </div>
            </div>
            <div class="form-group">
                <label for="mobile" class="control-label col-md-3 col-sm-3 col-xs-12">Parent Name <span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">

                    {{form_widget(form.parent_name,{'attr':{'class':'form-control col-md-7 col-xs-12','data-validate':'required'}})}}
                </div>
            </div>
            <div class="form-group">
                <label for="parentMobile" class="control-label col-md-3 col-sm-3 col-xs-12">Parent Mobile <span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    {{form_widget(form.parent_mobile,{'attr':{'class':'form-control col-md-7 col-xs-12','data-validate':'required,number'}})}}
                </div>
            </div>
            <div style="display: none;">
                {{form_widget(form.mobile.person_id)}}
            </div>

        </div>
        <div id="step-2">

            <div class="form-group">
                <label for="school" class="control-label col-md-3 col-sm-3 col-xs-12">School <span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    {{form_widget(form.school,{'attr':{'class':'form-control col-md-7 col-xs-12','data-validate':'required'}})}}                    
                </div>
            </div>           

            <div class="form-group">
                <label for="yearOfExam" class="control-label col-md-3 col-sm-3 col-xs-12">Year of exam <span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">                    
                    {{form_widget(form.year_of_exam,{'attr':{'class':'form-control col-md-7 col-xs-12','data-validate':'required,number'}})}}
                </div>
            </div>          
        </div>
        <div id="step-3">
            <h4 class="text-center"><small><strong>Profile Images *</strong></small></h4>
            <div class="text-center">

                <div class="col-md-4 col-md-offset-4">
                    <div style="padding: 4em;">
                        <div>
                            <div class="avatar-view" title="Change the avatar">                            
                                <img id="imagePreview" src="{{asset('images/BaseTemplate/contacts.png')}}" alt="Avatar">                            
                            </div>
                        </div>
                        <br />
                        <div class="form-group">

                            <div >
                                <span style="color: white" class="btn btn-info btn-block btn-file">Browse
                                    {{form_widget(form.profileImage,{'attr':{'accept':'.jpg,.png,.bmp'}})}}
                                </span>
                            </div>
                        </div> 
                    </div>
                </div>
            </div>
        </div>
        <div id="step-4">
            <div class="form-group">
                <label for="portfolio" class="control-label col-md-3 col-sm-3 col-xs-12 text-right">Portfolio <span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">                    
                    {{form_widget(form.portfolio,{'attr':{'class':'form-control col-md-7 col-xs-12','placeholder':'Tell something about yourself'}})}}
                </div>
            </div>            
        </div>

        {{form_end(form)}}
    </form>



</div>

<script>
    function initData() {
        var path = "{{path('studentFormData')}}";
        $.ajax({
            url: path,
            type: 'POST',
            data: {id: "{{app.user.userName}}"},
            success: function (data) {

                $('#sasip_registration_form_first_name').val(data.profile[0]['first_name']);
                $('#sasip_registration_form_last_name').val(data.profile[0]['last_name']);
                $('#sasip_registration_form_gender').val(data.profile[0]['gender']);
                $('#sasip_registration_form_date_of_birth').val(data.profile[0]['date_of_birth']);

                $('#sasip_registration_form_address').val(data.profile[0]['address']);
                $('#sasip_registration_form_mobile_contact_number').val(data.contact[0]['contact_number']);
                $('#sasip_registration_form_parent_name').val(data.profile[0]['parent_name']);
                $('#sasip_registration_form_parent_mobile').val(data.profile[0]['parent_mobile']);
                $('#sasip_registration_form_school').val(data.profile[0]['school']);
                $('#sasip_registration_form_year_of_exam').val(data.profile[0]['year_of_exam']);
                $('#sasip_registration_form_portfolio').val(data.profile[0]['portfolio']);
            }
        });
    }
</script>

<script>
    $(document).ready(function () {
        // Smart Wizard 	
        $('#wizard').smartWizard({
            onFinish: onFinishCallback
        });

        function onFinishCallback() {
            $('#editForm').submit();
        }

    });
    initData();

    function readURL(input) {

        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#imagePreview').attr('src', e.target.result);
            };

            reader.readAsDataURL(input.files[0]);
        }
    }

    $("#sasip_registration_form_profileImage").change(function () {
        readURL(this);
    });

</script>

<script>
//form validation
    $(document).ready(function () {
        //$('#resetPassword').attr('disabled', true);
        $('#editForm').bootstrapValidator({
            message: 'This value is not valid',
            fields: {
                'sasip_registration_form[first_name]': {
                    validators: {
                        notEmpty: {
                            message: 'This field is required and can\'t be empty'
                        }
                    }
                },
                'sasip_registration_form[last_name]': {
                    validators: {
                        notEmpty: {
                            message: 'This field is required and can\'t be empty'
                        }
                    }
                },
                'sasip_registration_form[date_of_birth]': {
                    validators: {
                        notEmpty: {
                            message: 'This field is required and can\'t be empty'
                        }
                    }
                },
                'sasip_registration_form[mobile][contact_number]': {
                    validators: {
                        digits: {
                            message: 'This value is not valid'
                        },
                        notEmpty: {
                            message: 'This field is required and can\'t be empty'
                        }
                    }
                },
                'sasip_registration_form[parent_mobile]': {
                    validators: {
                        digits: {
                            message: 'This value is not valid'
                        },
                        notEmpty: {
                            message: 'This field is required and can\'t be empty'
                        }
                    }
                },
                'sasip_registration_form[year_of_exam]': {
                    validators: {
                        digits: {
                            message: 'This value is not valid'
                        },
                        notEmpty: {
                            message: 'This field is required and can\'t be empty'
                        }
                    }
                },
                'sasip_registration_form[parent_name]': {
                    validators: {
                        notEmpty: {
                            message: 'This field is required and can\'t be empty'
                        }
                    }
                },
                'sasip_registration_form[address]': {
                    validators: {
                        notEmpty: {
                            message: 'This field is required and can\'t be empty'
                        },
                        regexp: {
                            regexp: /^[a-zA-Z0-9_\/,.]+$/,
                            message: 'This field can only consist of alphabetical, number, comma, forwardslash , dot and underscore'
                        }
                    }
                },
                'sasip_registration_form[portfolio]': {
                    validators: {
                        notEmpty: {
                            message: 'This field is required and can\'t be empty'
                        },
                        regexp: {
                            regexp: /^[a-zA-Z0-9_\/,.]+$/,
                            message: 'This field can only consist of alphabetical, number, comma, forwardslash , dot and underscore'
                        }
                    }
                },
                'sasip_registration_form[school]': {
                    validators: {
                        notEmpty: {
                            message: 'This field is required and can\'t be empty'
                        },
                        regexp: {
                            regexp: /^[a-zA-Z0-9_\/,.]+$/,
                            message: 'This field can only consist of alphabetical, number, comma, forwardslash , dot and underscore'
                        }
                    }
                }
            }
        });
    });

</script>