{% extends 'PublicityUserBundle:Default:index.html.twig' %}
{% block headerLogo %}
{% endblock %}
{% block css %}
    <style>
        header {
            color: #e6e5e5;
            display:block;
            position: relative;
            z-index: 999;
            margin-bottom: 0;
            height:auto;
            background: url('') no-repeat;
        }
        .page1 header {
            border-bottom: 1px solid #fff;
            padding-bottom: 0px;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="container" role="main">


        <div class="page-title">

            <div class="">
                <h2>Mentors <small> Sasip </small></h2>

            </div>
        </div>
        <div class="clearfix"></div>

        <div class="row">
            <div class="col-md-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h3> Pysics  </h3>
                        <div class="clearfix"></div>
                    </div>
                    <div class="container-fluid">

                        <div class="row">                          

                            <div class="col-md-3">
                                <div class="thumbnail">
                                    <div class="image view view-first">
                                        <img style="width: 100%; display: block;" src="{{asset('images/Front/Classes/demo.jpg')}}" alt="image" />
                                        <div class="mask">
                                            <p>
                                                Physics-Theory <br />
                                                Description

                                            </p>                                            
                                            <p>Time : XXXXX</p>
                                            <div class="tools tools-bottom">
                                                <a href="#"><i class="fa fa-link"></i></a>
                                                <a href="#"><i class="fa fa-pencil"></i></a>
                                                <a href="#"><i class="fa fa-times"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="caption">
                                        <p>Name : XXXXX</p>
                                        <p>Mobile : XXXXX</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="thumbnail">
                                    <div class="image view view-first">
                                        <img style="width: 100%; display: block;" src="{{asset('images/Front/Classes/demo.jpg')}}" alt="image" />
                                        <div class="mask">
                                            <p>
                                                Physics-Theory <br />
                                                Description

                                            </p>                                            
                                            <p>Time : XXXXX</p>
                                            <div class="tools tools-bottom">
                                                <a href="#"><i class="fa fa-link"></i></a>
                                                <a href="#"><i class="fa fa-pencil"></i></a>
                                                <a href="#"><i class="fa fa-times"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="caption">
                                        <p>Name : XXXXX</p>
                                        <p>Mobile : XXXXX</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="thumbnail">
                                    <div class="image view view-first">
                                        <img style="width: 100%; display: block;" src="{{asset('images/Front/Classes/demo.jpg')}}" alt="image" />
                                        <div class="mask">
                                            <p>
                                                Physics-Theory <br />
                                                Description

                                            </p>                                            
                                            <p>Time : XXXXX</p>
                                            <div class="tools tools-bottom">
                                                <a href="#"><i class="fa fa-link"></i></a>
                                                <a href="#"><i class="fa fa-pencil"></i></a>
                                                <a href="#"><i class="fa fa-times"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="caption">
                                        <p>Name : XXXXX</p>
                                        <p>Mobile : XXXXX</p>
                                    </div>
                                </div>
                            </div>


                            <div class="col-md-3">
                                <div class="thumbnail">
                                    <div class="image view view-first">
                                        <img style="width: 100%; display: block;" src="{{asset('images/Front/Classes/demo.jpg')}}" alt="image" />
                                        <div class="mask">
                                            <p>
                                                Physics-Theory <br />
                                                Description

                                            </p>                                            
                                            <p>Time : XXXXX</p>
                                            <div class="tools tools-bottom">
                                                <a href="#"><i class="fa fa-link"></i></a>
                                                <a href="#"><i class="fa fa-pencil"></i></a>
                                                <a href="#"><i class="fa fa-times"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="caption">
                                        <p>Name : XXXXX</p>
                                        <p>Mobile : XXXXX</p>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="thumbnail">
                                    <div class="image view view-first">
                                        <img style="width: 100%; display: block;" src="{{asset('images/Front/Classes/demo.jpg')}}" alt="image" />
                                        <div class="mask">
                                            <p>
                                                Physics-Theory <br />
                                                Description

                                            </p>                                            
                                            <p>Time : XXXXX</p>
                                            <div class="tools tools-bottom">
                                                <a href="#"><i class="fa fa-link"></i></a>
                                                <a href="#"><i class="fa fa-pencil"></i></a>
                                                <a href="#"><i class="fa fa-times"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="caption">
                                        <p>Name : XXXXX</p>
                                        <p>Mobile : XXXXX</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="thumbnail">
                                    <div class="image view view-first">
                                        <img style="width: 100%; display: block;" src="{{asset('images/Front/Classes/demo.jpg')}}" alt="image" />
                                        <div class="mask">
                                            <p>
                                                Physics-Theory <br />
                                                Description

                                            </p>                                            
                                            <p>Time : XXXXX</p>
                                            <div class="tools tools-bottom">
                                                <a href="#"><i class="fa fa-link"></i></a>
                                                <a href="#"><i class="fa fa-pencil"></i></a>
                                                <a href="#"><i class="fa fa-times"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="caption">
                                        <p>Name : XXXXX</p>
                                        <p>Mobile : XXXXX</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="thumbnail">
                                    <div class="image view view-first">
                                        <img style="width: 100%; display: block;" src="{{asset('images/Front/Classes/demo.jpg')}}" alt="image" />
                                        <div class="mask">
                                            <p>
                                                Physics-Theory <br />
                                                Description

                                            </p>                                            
                                            <p>Time : XXXXX</p>
                                            <div class="tools tools-bottom">
                                                <a href="#"><i class="fa fa-link"></i></a>
                                                <a href="#"><i class="fa fa-pencil"></i></a>
                                                <a href="#"><i class="fa fa-times"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="caption">
                                        <p>Name : XXXXX</p>
                                        <p>Mobile : XXXXX</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="thumbnail">
                                    <div class="image view view-first">
                                        <img style="width: 100%; display: block;" src="{{asset('images/Front/Classes/demo.jpg')}}" alt="image" />
                                        <div class="mask">
                                            <p>
                                                Physics-Theory <br />
                                                Description

                                            </p>                                            
                                            <p>Time : XXXXX</p>
                                            <div class="tools tools-bottom">
                                                <a href="#"><i class="fa fa-link"></i></a>
                                                <a href="#"><i class="fa fa-pencil"></i></a>
                                                <a href="#"><i class="fa fa-times"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="caption">
                                        <p>Name : XXXXX</p>
                                        <p>Mobile : XXXXX</p>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}