<style>
    .btn-file {
        position: relative;
        overflow: hidden;
    }
    .btn-file input[type=file] {
        position: absolute;
        top: 0;
        right: 0;
        min-width: 100%;
        min-height: 100%;
        font-size: 100px;
        text-align: right;
        filter: alpha(opacity=0);
        opacity: 0;
        outline: none;
        background: white;
        cursor: inherit;
        display: block;
    }
</style>
<div id="wizard" class="form_wizard wizard_horizontal">
    <ul class="wizard_steps">
        <li>
            <a href="#step-1">
                <span class="step_no">1</span>
                <span class="step_descr">
                    Step 1<br />
                    <small>Personal</small>
                </span>
            </a>
        </li>
        <li>
            <a href="#step-2">
                <span class="step_no">2</span>
                <span class="step_descr">
                    Step 2<br />
                    <small>Education </small>
                </span>
            </a>
        </li>
        <li>
            <a href="#step-3">
                <span class="step_no">3</span>
                <span class="step_descr">
                    Step 3<br />
                    <small>Profile Image</small>
                </span>
            </a>
        </li>
        <li>
            <a href="#step-4">
                <span class="step_no">4</span>
                <span class="step_descr">
                    Step 4<br />
                    <small>Portfolio</small>
                </span>
            </a>
        </li>
    </ul>

    <form  id="editForm" action="{{path('teacherPersonalAccountUpdateSetting')}}"  method="POST" {{ form_enctype(form) }} class="form-horizontal form-label-left"> 
        <div id="step-1">

            <div class="form-group">
                {{form_start(form)}}
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">First Name <span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    {{form_widget(form.firstName,{'attr':{'class':'form-control col-md-7 col-xs-12'}})}}
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">Last Name <span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    {{form_widget(form.lastName,{'attr':{'class':'form-control col-md-7 col-xs-12'}})}}
                </div>
            </div>    

            <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">Salutation <span class="required">*</span></label> 
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="btn-group">
                        {{form_widget(form.salutation,{'attr':{'class':'form-control col-md-7 col-xs-12'}})}}
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">Gender <span class="required">*</span></label> 
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="btn-group">
                        {{form_widget(form.gender,{'attr':{'class':'form-control col-md-7 col-xs-12'}})}}
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="dateOfBirth" class="control-label col-md-3 col-sm-3 col-xs-12">Date Of Birth <span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    {{form_widget(form.date_of_birth,{'attr':{'class':'form-control col-md-7 col-xs-12'}})}}
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="address">Address <span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    {{form_widget(form.address,{'attr':{'class':'form-control col-md-7 col-xs-12'}})}}

                </div>
            </div>
            <div class="form-group">
                <label for="mobile" class="control-label col-md-3 col-sm-3 col-xs-12">Mobile <span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">

                    {{form_widget(form.mobile1.contact_number,{'attr':{'class':'form-control col-md-7 col-xs-12'}})}}
                </div>
            </div>
            <div class="form-group">
                <label for="mobile" class="control-label col-md-3 col-sm-3 col-xs-12">Mobile <span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    {{form_widget(form.mobile2.contact_number,{'attr':{'class':'form-control col-md-7 col-xs-12'}})}}
                </div>
            </div>
            <div class="form-group">
                <label for="mobile" class="control-label col-md-3 col-sm-3 col-xs-12">Teaching at
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    {{form_widget(form.schoolTeach,{'attr':{'class':'form-control col-md-7 col-xs-12','placeholder':'Indicate currently teaching school'}})}}
                </div>
            </div>           

            <div style="display: none;">
                {{form_widget(form.mobile1.person_id)}}
                {{form_widget(form.mobile2.person_id)}}
            </div>

        </div>
        <div id="step-2">

            <div class="form-group">
                <label for="school" class="control-label col-md-3 col-sm-3 col-xs-12">Degree Title <span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    {{form_widget(form.title,{'attr':{'class':'form-control col-md-7 col-xs-12'}})}}                    
                </div>
            </div>           
            <div class="form-group">
                <label for="school" class="control-label col-md-3 col-sm-3 col-xs-12">School <span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    {{form_widget(form.school,{'attr':{'class':'form-control col-md-7 col-xs-12'}})}}                    
                </div>
            </div>           

            <div class="form-group">
                <label for="yearOfExam" class="control-label col-md-3 col-sm-3 col-xs-12">University <span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">                    
                    {{form_widget(form.university,{'attr':{'class':'form-control col-md-7 col-xs-12'}})}}
                </div>
            </div>          
        </div>
        <div id="step-3">
            <h4 class="text-center"><small><strong>Profile Images *</strong></small></h4>
            <div class="text-center">

                <div class="col-md-4 col-md-offset-4">
                    <div style="padding: 4em;">
                        <div>
                            <div class="avatar-view" title="Change the avatar">                            
                                <img id="imagePreview" src="{{asset('images/BaseTemplate/contacts.png')}}" alt="Avatar">                            
                            </div>
                        </div>
                        <br />
                        <div class="form-group">

                            <div >
                                <span style="color: white" class="btn btn-info btn-block btn-file">Browse
                                    {{form_widget(form.profileImage)}}
                                </span>
                            </div>
                        </div> 
                    </div>
                </div>
            </div>
        </div>
        <div id="step-4">
            <div class="form-group">
                <label for="portfolio" class="control-label col-md-3 col-sm-3 col-xs-12 text-right">Portfolio <span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">                    
                    {{form_widget(form.portfolio,{'attr':{'class':'form-control col-md-7 col-xs-12','placeholder':'Tell something about yourself'}})}}
                </div>
            </div>            
            <div class="form-group">
                <label for="portfolio" class="control-label col-md-3 col-sm-3 col-xs-12 text-right">LinkedIn 
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">                    
                    {{form_widget(form.linkedIn,{'attr':{'class':'form-control col-md-7 col-xs-12','placeholder':'Paste your linkedIn Profile link'}})}}
                </div>
            </div>            
            <div class="form-group">
                <label for="portfolio" class="control-label col-md-3 col-sm-3 col-xs-12 text-right">Facebook 
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">                    
                    {{form_widget(form.facebook,{'attr':{'class':'form-control col-md-7 col-xs-12','placeholder':'Paste your facebook Profile link'}})}}
                </div>
            </div>            
            <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12 text-right">Twitter 
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">                    
                    {{form_widget(form.twitter,{'attr':{'class':'form-control col-md-7 col-xs-12','placeholder':'Paste your twitter Profile link'}})}}
                </div>
            </div>            
        </div>

        {{form_end(form)}}
    </form>



</div>

<script src="{{asset('js/Profiles/jquery.min.js')}}"></script>
<script src="{{asset('js/Profiles/nicescroll/jquery.nicescroll.min.js')}}"></script>
<script type="text/javascript" src="{{asset('js/Profiles/wizard/jquery.smartWizard.js')}}"></script>
<script>
    function initData() {
        var path = "{{path('teacherFormData')}}";
        $.ajax({
            url: path,
            type: 'POST',
            data: {id: "{{app.user.userName}}"},
            success: function (data) {
                if (data.profile !== undefined || data.contact !== undefined) {
                    $('#Teacher_form_firstName').val(data.profile[0]['first_name']);
                    $('#Teacher_form_lastName').val(data.profile[0]['last_name']);
                    $('#Teacher_form_salutation').val(data.profile[0]['salutation']);
                    $('#Teacher_form_gender').val(data.profile[0]['gender']);
                    $('#Teacher_form_date_of_birth').val(data.profile[0]['date_of_birth']);
                    
                    $('#Teacher_form_address').val(data.profile[0]['address']);
                    $('#Teacher_form_mobile1_contact_number').val(data.contact[0]['contact_number']);
                    $('#Teacher_form_mobile2_contact_number').val(data.contact[1]['contact_number']);
                    $('#Teacher_form_schoolTeach').val(data.profile[0]['school_teach']);
                    $('#Teacher_form_title').val(data.profile[0]['title']);
                    $('#Teacher_form_university').val(data.profile[0]['university']);
                    $('#Teacher_form_twitter').val(data.profile[0]['twitter']);
                    $('#Teacher_form_facebook').val(data.profile[0]['facebook']);
                    $('#Teacher_form_linkedIn').val(data.profile[0]['linked_in']);
                    $('#Teacher_form_portfolio').val(data.profile[0]['portfolio']);
                }

            }
        });
    }
</script>

<script>
    $(document).ready(function () {
        // Smart Wizard 	
        $('#wizard').smartWizard({
            onFinish: onFinishCallback
        });

        function onFinishCallback() {
            $('#editForm').submit();
        }

    });
    initData();

    function readURL(input) {

        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#imagePreview').attr('src', e.target.result);
            };

            reader.readAsDataURL(input.files[0]);
        }
    }

    $("#Teacher_form_profileImage").change(function () {
        readURL(this);
    });

</script>

