{% extends "base.html.twig" %}

{% block profileImageNavBarVerticle %}    
    <img src="{{asset('images/Profile/SuperAdmin/administrator-icon.png')}}" alt="Avatar" class="img-circle profile_img">    
{% endblock %}

{% block navElements %}
    <li><a href="{{path('Profile_superAdmin')}}">  Profile</a>
    </li>
    <li id="nav-settings">
        <a href="javascript:;">            
            <span>Account Settings</span>
        </a>
    </li>
    <li>
        <a href="javascript:;">Help</a>
    </li>
{% endblock %}

{% block title %}
    <title>Administrator Profile</title>
{% endblock %}

{% block sideBarMenu %}
    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">

        <div class="menu_section">
            <h3>General</h3>
            <ul class="nav side-menu">
                <li><a href="{{path('Profile_superAdmin')}}"><i class="fa fa-home"></i> Home <span class="fa fa-chevron-down"></span></a>                    
                </li>
                <li><a><i class="fa fa-edit"></i> User accounts <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu" style="display: none">
                        <li id="addProfiles"><a href="javascript:;">Add Profiles</a>
                        </li>                                            
                        <li id="passwordReset"><a href="javascript:;">User Profile Settings</a>
                        </li>                                            
                    </ul>
                </li>
                <li><a><i class="fa fa-desktop"></i> Sasip Configurations <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu" style="display: none">
                        <li id="createExam"><a href="javascript:;">Exam</a>
                        </li>
                        <li id="addClass"><a href="javascript:;">Class</a>
                        </li>
                    </ul>
                </li>
                <li><a href="javascript:;" data-toggle="modal" data-target="#exampleModal"><i class="fa fa-table"></i> Notifications <span class="fa fa-chevron-down"></span></a>

                </li>

            </ul>
        </div>
        <div class="menu_section">
            <h3>Accounts</h3>
            <ul class="nav side-menu">
                <li><a><i class="fa fa-bug"></i> Settings <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu" style="display: none">
                        <li id="accountSetting"><a href="javascript:;">Account Settings</a>
                        </li>
                    </ul>
                </li>

            </ul>
        </div>

    </div>
{% endblock %}

{% block profileImageNavBarHorizontal %}    
    <img src="{{asset('images/Profile/SuperAdmin/administrator-icon.png')}}" alt="image">    
{% endblock %}

{% block container %}
    <div class="container">
        <div class="page-title">
            <div class="title_left">
                <h3>Administrator Portal</h3>
            </div>


        </div>
        <div class="clearfix"></div>

        <div class="row">

            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h3>Plain Page</h3>
                        <div id="contentBody" class="container">
                            <div class="x_title">                                

                                <div class="clearfix"></div>
                            </div>
                            <div class="x_content">

                                <div class="col-md-3 col-sm-3 col-xs-12 profile_left">

                                    <div class="profile_img">

                                        <!-- end of image cropping -->
                                        <div id="crop-avatar">
                                            <!-- Current avatar -->
                                            <div class="avatar-view" title="Change the avatar">                                                
                                                <img src="{{asset('images/Profile/SuperAdmin/administrator-icon.png')}}" alt="Avatar">
                                            </div>
                                            <!-- Loading state -->

                                        </div>
                                        <!-- end of image cropping -->

                                    </div>                                    
                                </div>
                                <div class="col-md-9 col-sm-9 col-xs-12">
                                    <h3>{{admin.userName}}</h3>
                                    <div>
                                        <span><i class="fa fa-envelope"></i> {{admin.email}}</span> | <span><i class="fa fa-wrench"></i> System Adminstrator</span> | <span><i class="fa fa-university"></i> Sasip Institute Nugegoda</span>
                                    </div>
                                    <br />
                                    <div class="row">

                                        <div class="col-md-2"><a class="btn btn-success" data-toggle="modal" data-target="#exampleModal"><i class="fa fa-bell-o m-right-xs"></i> Notifications</a></div>
                                    </div>
                                    <br />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div id="messageInbox" style="padding-right: 1em;" class="container"></div>
                            <div id="screenSaver" class="text-center" style="margin-top: 10%;margin-bottom: 10%;display: none;"><i class="fa fa-5x fa-spin fa-cog"></i></div>
                        </div>

                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header" style="background-color: #34495E;color: white">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" style="color: white;">&times;</span></button>
                    <h4 class="modal-title text-center" id="exampleModalLabel">Post Notifications</h4>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="recipient-name" class="control-label">Subject: *</label>
                            <input type="text" class="form-control" id="recipient-name">
                        </div>
                        <div class="form-group">
                            <label for="message-text" class="control-label">Content: *</label>
                            <textarea class="form-control" id="message-text"></textarea>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">                    
                    <button type="button" class="btn btn-success">Post</button>
                </div>
            </div>
        </div>
    </div>


    <script>

        //this function helps to load contents manually when event occurs
        function loadContentManually(container, route) {
            $('#screenSaver').css('display', 'block');
            $(container).empty();
            $.ajax({
                url: route,
                type: 'GET',
                dataType: 'html',
                success: function (data) {
                    $('#screenSaver').css('display', 'none');
                    $(container).append(data);
                }
            });
        }

        $('#addProfiles').on('click', function () {
            loadContentManually("#contentBody", "{{path('superAdminCreateProfiles')}}");
            $("#messageInbox").css('display', 'none');
        });

        $('#userProSettings').on('click', function () {
            loadContentManually("#contentBody", "{{path('fos_user_resetting_request')}}");
            $("#messageInbox").css('display', 'none');
        });

        $('#addClass').on('click', function () {
            loadContentManually("#contentBody", "{{path('classConfiguration')}}");
            $("#messageInbox").css('display', 'none');
        });

        $('#createExam').on('click', function () {
            loadContentManually("#contentBody", "{{path('ExamConfiguration')}}");
            $("#messageInbox").css('display', 'none');
        });

        $('#accountSetting,#nav-settings').on('click', function () {
            loadContentManually("#contentBody", "{{path('studentAccountSettings')}}");
            $("#messageInbox").css('display', 'none');
        });

        $('#passwordReset').on('click', function () {
            loadContentManually("#contentBody", "{{path('RenderPwResetUserRequest')}}");
            $("#messageInbox").css('display', 'none');
        });

        function inbox() {
            loadContentManually("#messageInbox", "{{path('displayForum')}}");
        }

        inbox();
    </script>
{% endblock %}

{% block footer %}{% endblock %}