{% extends "base.html.twig" %}

{% block title %}
    <title>Administrator Profile</title>
{% endblock %}

{% block sideBarMenu %}
    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">

        <div class="menu_section">
            <h3>General</h3>
            <ul class="nav side-menu">
                <li><a href="{{path('Profile_superAdmin')}}"><i class="fa fa-home"></i> Home <span class="fa fa-chevron-down"></span></a>                    
                </li>
                <li><a><i class="fa fa-edit"></i> User accounts <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu" style="display: none">
                        <li id="addProfiles"><a href="javascript:;#">Add Profiles</a>
                        </li>                                            
                        <li id="userProSettings"><a href="javascript:;">User Profile Settings</a>
                        </li>                                            
                    </ul>
                </li>
                <li><a><i class="fa fa-desktop"></i> Sasip Configurations <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu" style="display: none">
                        <li id="createExam"><a href="javascript:;">Create exam</a>
                        </li>
                        <li id="addClass"><a href="javascript:;">Add class</a>
                        </li>
                    </ul>
                </li>
                <li><a href="javascript:;" data-toggle="modal" data-target="#exampleModal"><i class="fa fa-table"></i> Notifications <span class="fa fa-chevron-down"></span></a>

                </li>

            </ul>
        </div>
        <div class="menu_section">
            <h3>Accounts</h3>
            <ul class="nav side-menu">
                <li><a><i class="fa fa-bug"></i> Settings <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu" style="display: none">
                        <li id="accountSetting"><a href="javascript:;">Account Settings</a>
                        </li>
                    </ul>
                </li>

            </ul>
        </div>

    </div>
{% endblock %}

{% block container %}
    <div class="container">
        <div class="page-title">
            <div class="title_left">
                <h3>Administrator Portal</h3>
            </div>

            <div class="title_right">
                <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search for...">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button">Go!</button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>

        <div class="row">

            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h3>Plain Page</h3>
                        <div id="contentBody" class="container">
                            <div class="x_title">                                

                                <div class="clearfix"></div>
                            </div>
                            <div class="x_content">

                                <div class="col-md-3 col-sm-3 col-xs-12 profile_left">

                                    <div class="profile_img">

                                        <!-- end of image cropping -->
                                        <div id="crop-avatar">
                                            <!-- Current avatar -->
                                            <div class="avatar-view" title="Change the avatar">                                                
                                                <img src="{{asset('images/BaseTemplate/contacts.png')}}" alt="Avatar">
                                            </div>
                                            <!-- Loading state -->

                                        </div>
                                        <!-- end of image cropping -->

                                    </div>                                    
                                </div>
                                <div class="col-md-9 col-sm-9 col-xs-12">
                                    <h3>{{admin.userName}}</h3>

                                    <div>
                                        <span><i class="fa fa-envelope"></i> {{admin.email}}</span> | <span><i class="fa fa-wrench"></i> System Adminstrator</span> | <span><i class="fa fa-university"></i> Sasip Institute Nugegoda</span>
                                    </div>
                                    <br />
                                    <div class="row">
                                        <div class="col-md-2" style="margin-right: 1em;"><a class="btn btn-success"><i class="fa fa-edit m-right-xs"></i> Profile Image</a></div>
                                        <div class="col-md-2"><a class="btn btn-success" data-toggle="modal" data-target="#exampleModal"><i class="fa fa-bell-o m-right-xs"></i> Notifications</a></div>
                                    </div>
                                    <br />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div id="messageInbox" style="padding: 1em;"></div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header" style="background-color: #34495E;color: white">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" style="color: white;">&times;</span></button>
                    <h4 class="modal-title text-center" id="exampleModalLabel">Post Notifications</h4>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="recipient-name" class="control-label">Subject: *</label>
                            <input type="text" class="form-control" id="recipient-name">
                        </div>
                        <div class="form-group">
                            <label for="message-text" class="control-label">Content: *</label>
                            <textarea class="form-control" id="message-text"></textarea>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">                    
                    <button type="button" class="btn btn-success">Post</button>
                </div>
            </div>
        </div>
    </div>


    <script>
        $('#addProfiles').on('click', function () {

            var $whereToLoadContent = $("#contentBody"); //where you want to load data

            var routeWithPlaceHolder = "{{path('superAdminCreateProfiles')}}";
            $whereToLoadContent.load(routeWithPlaceHolder);

        });

        $('#userProSettings').on('click', function () {

            var $whereToLoadContent = $("#contentBody"); //where you want to load data

            var routeWithPlaceHolder = "{{path('fos_user_resetting_request')}}";
            $whereToLoadContent.load(routeWithPlaceHolder);

        });
        $('#addClass').on('click', function () {

            var $whereToLoadContent = $("#contentBody"); //where you want to load data

            var routeWithPlaceHolder = "{{path('classConfiguration')}}";
            $whereToLoadContent.load(routeWithPlaceHolder);

        });
        $('#createExam').on('click', function () {

            var $whereToLoadContent = $("#contentBody"); //where you want to load data

            var routeWithPlaceHolder = "{{path('ExamConfiguration')}}";
            $whereToLoadContent.load(routeWithPlaceHolder);

        });
        $('#accountSetting').on('click', function () {

            var $whereToLoadContent = $("#contentBody"); //where you want to load data

            var routeWithPlaceHolder = "{{path('studentAccountSettings')}}";
            $whereToLoadContent.load(routeWithPlaceHolder);

        });

        function inbox() {
            var $whereToLoadContent = $("#messageInbox"); //where you want to load data

            var routeWithPlaceHolder = "{{path('displayForum')}}";
            $whereToLoadContent.load(routeWithPlaceHolder);
        }
        inbox();
    </script>
{% endblock %}

{% block footer %}{% endblock %}